div {
    margin: 40px auto;
}
/* cria um círculo*/
#grafico-01 {
    background-color: brown;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    
}

#grafico-01 img {
    width: 100%;
    height: auto;
}
 /*triângulo*/
#grafico-02 {
    background: transparent;
    border-style: solid;
    border-width: 60px 0 60px 120px;
    border-color: transparent transparent transparent blue ;
    width: 60px;
}

#imagem-vetorial {
    width: 200px;
    height: 100px;
}

#canvas {
    height: 300px;
    width: 100px;
}