 

table {
	border: 0,5px solid;
	background: #ffffff;
	width: 100%;
}

table tr {
	border: 1px solid #757575;
	
}

table tbody td:nt-child(even) {
	background-color: #EEEEFF;

}

table tbody tr:hover {
	background-color: rgba(0, 0, 255, .2);

}




table th,
table td {
	padding: 1rem;
	font-size: 1.6rem;
	text-align: right;
	border: 1px solid #757575;
	/*border: 1px solid #757575;*/
	vertical-align: middle;

	
}

table tr td:first-child {
	text-align: left;
	font-weight: bold;

}

table th {
	background-color: #234589;
	color: #FFF;
	font-weight: bold;
	text-align: left;
	
}

.table-contairner {
	padding: 2rem 1rem;
}

.table-contairner h3 {
	font-size: 1.8rem;
	font-style: normal;
	margin-bottom: 1rem;
}

.table-contairner tfoot {
	background: #EEEEEE;
}

.table-contairner tfoot td {
	font-weight: bold;
}



html {
	font-family: sans-serif;
	color: #333333;
}

p {
	color: #454545 !important;
}

	 
   
  

header p {
   color:black;
   font-size: 1.5rem;
} 


/* 

combinadores

(espaço)seletor descendent 
(>) combinador de seletores filhos
(+) combinador de elementos irmãos adjacentes / que vem na sequencia
(~) combinador de elementos irmãos geral / após elemento de referência




*/

header h2 {
   font-weight: 100;
}

header > h2 {
   font-weight: 600;
}

h2 + p {
   background: #FF0;
   color:#333;
}

h2 ~ h5 {
   font-size:1.2rem;
}

div ~ p {
   text-transform: uppercase;
}

/*pseudo-classes / pseudo-elementos: */

a { 
   color: #555555;
   text-decoration: none; /* o padrão é underline */
   font-size: 1.5rem;
   display: block;
   width: 100%;
   height: auto;

  } 
  


a:visited {
   color: #f00;
}	


a:active {
   color:#096;
}

a:hover{
   color: #009;
   background: #eee;
}

h2:hover {
   color: #888;
}


/*

  Tipografia

*/

html{
  font-family: sans-serif;
}

h1, h2, h3{

   font-weight: 400;
   font-family: 'Limelight', cursive;
}

p{
   font-weight: normal;
   font-size: 1.4rem;
}

ul  {
   padding-left: .5rem;
   margin-left: .5rem;
}

li{
   letter-spacing: 0.1rem;
   font-family: sans-serif;
   line-height: 1.5;

}

h3{
   /* declaração resumida / completa */
   font:italic bold 1.2rem/2 sans-serif;
}



